In [1]:
import sys
import lux
import sqldf
import psycopg2
import pandas as pd
import numpy as np
from collections import defaultdict
from math import log,pi
from decimal import Decimal
import timeit
import math

from scipy.spatial.distance import euclidean, chebyshev, cityblock, jaccard

In [2]:
def get_all_views():
    views=[]
    for f in aggregate:
        for a in discrete:
            for m in continuous:
                views.append((a,m,f))
    return views

def get_query_result( query ) :
    df_view = sqldf.run(query)
    return df_view

def normalize(f_list_1,f_list_2):
    f_list_1=[float(x) for x in f_list_1]
    f_list_2=[float(x) for x in f_list_2]
    sum_1=sum(f_list_1)
    sum_2=sum(f_list_2)
    norm_1 = [i/sum_1 for i in f_list_1]
    norm_2=[i/sum_2 for i in f_list_2]
    return norm_1,norm_2

def get_utility(f_list_1,f_list_2):
    nf_1,nf_2=normalize(f_list_1,f_list_2)
    #return kl.entropy(nf_1,nf_2)
    distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(nf_1, nf_2)]))
    return distance


def get_top_k(dict_kl, k):
    return sorted(dict_kl.items(), key= lambda item: item[1], reverse=True)[:k]

def get_agg_values(data):
    data.columns = ['a', 'b']
    #list_data = [data['b'][0], data['b'][1]]
    return data['b'].values.tolist()

def get_iter(d):
    if isinstance(d,dict):
        return d.items()
    else: #cursor
        return d.items()

def get_agg_lists(o_1,o_2):
    dict_res = defaultdict(list)
    f_list_1 = []
    f_list_2 = []
    for k,v in get_iter(o_1):
        if v != 0:
            dict_res[k].append(v)
        else:
            dict_res[k].append(Decimal(1e-10))
    for k,v in get_iter(o_2):
        if k not in dict_res:
            dict_res[k].append(Decimal(1e-10))
        if v != 0:
            dict_res[k].append(v)
        else:
            dict_res[k].append(Decimal(1e-10))
    for k,v in dict_res.items():
        if len(v) != 2:
            dict_res[k].append(Decimal(1e-10))
    for i in dict_res.values():
        f_list_1.append(i[0])
        f_list_2.append(i[1])
    return f_list_1,f_list_2

In [3]:
continuous=['age', 'restbp', 'chol', 'thalach', 'ca', 'oldpeak']
discrete=['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal']
aggregate= ['sum','avg','max']

In [4]:
df = pd.read_csv("heart.csv")

In [6]:
df

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,64,male,non_anginal_pain,125,309,no_more_than_120,normal,131,exercise_induced_angina,1.8,flat,0,reversable_defect,disease
1,70,male,non_anginal_pain,160,269,no_more_than_120,normal,112,exercise_induced_angina,2.9,flat,1,reversable_defect,disease
2,50,male,non_anginal_pain,140,233,no_more_than_120,normal,163,no_exercise_induced_angina,0.6,flat,1,reversable_defect,disease
3,59,male,non_anginal_pain,126,218,more_than_120,normal,134,no_exercise_induced_angina,2.2,flat,1,fixed defect,disease
4,49,male,non_anginal_pain,120,188,no_more_than_120,normal,139,no_exercise_induced_angina,2.0,flat,3,reversable_defect,disease
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,55,female,atypical_angina,132,342,no_more_than_120,normal,166,no_exercise_induced_angina,1.2,upsloping,0,normal,no_disease
295,41,male,atypical_angina,120,157,no_more_than_120,normal,182,no_exercise_induced_angina,0.0,upsloping,0,normal,no_disease
296,29,male,atypical_angina,130,204,no_more_than_120,showing_probable,202,no_exercise_induced_angina,0.0,upsloping,0,normal,no_disease
297,55,female,atypical_angina,135,250,no_more_than_120,showing_probable,161,no_exercise_induced_angina,1.4,flat,0,normal,no_disease
298,56,male,atypical_angina,130,221,no_more_than_120,showing_probable,163,no_exercise_induced_angina,0.0,upsloping,0,reversable_defect,no_disease

In [16]:
df.columns.to_series().groupby(df.dtypes).groups

{dtype('int64'): Index(['age', 'restbp', 'chol', 'thalach', 'ca'], dtype='object'),
 dtype('float64'): Index(['oldpeak'], dtype='object'),
 dtype('O'): Index(['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal', 'num'], dtype='object')}

# Exhaustive Search

In [13]:
k=20

dict_kl=defaultdict(list)
views=get_all_views()
runtime = []
for a,m,f in views:
    #print (a,f,m)
    q1="select "+a+", "+f+"("+m+") from df where num ='disease' and "+a+" is not null group by "+a+" order by "+a+";"
    q2="select "+a+", "+f+"("+m+") from df where num ='no_disease' and "+a+" is not null group by "+a+" order by "+a+";"
    #print(q1)
    #startTime = timeit.default_timer()
    res_1=get_query_result(q1)
    res_2=get_query_result(q2)
    #stopTime = timeit.default_timer()
    #runtime.append(stopTime-startTime)
    f_list_1 = get_agg_values(res_1)
    f_list_2 = get_agg_values(res_2)
    dict_kl[a,m,f].append(get_utility(f_list_1,f_list_2))
    #print(f_list_1)

#print(sum(runtime))
get_top_k(dict_kl, k)

[(('thal', 'oldpeak', 'sum'), [0.7397531937984001]),
 (('thal', 'thalach', 'sum'), [0.718509703070422]),
 (('thal', 'restbp', 'sum'), [0.7184788449523011]),
 (('cp', 'ca', 'sum'), [0.7127041745439795]),
 (('slope', 'ca', 'sum'), [0.71039762892971]),
 (('thal', 'chol', 'sum'), [0.7101716497003995]),
 (('thal', 'age', 'sum'), [0.6856068992498252]),
 (('cp', 'oldpeak', 'sum'), [0.6667266901851016]),
 (('exang', 'oldpeak', 'sum'), [0.6604832829078432]),
 (('thal', 'ca', 'sum'), [0.6575817313807284]),
 (('cp', 'chol', 'sum'), [0.6160608787086023]),
 (('cp', 'restbp', 'sum'), [0.6099072595737325]),
 (('cp', 'thalach', 'sum'), [0.6045127346833579]),
 (('cp', 'age', 'sum'), [0.5985463906219567]),
 (('exang', 'chol', 'sum'), [0.5791907821745355]),
 (('exang', 'restbp', 'sum'), [0.5759666121146424]),
 (('exang', 'age', 'sum'), [0.5615631126346988]),
 (('exang', 'ca', 'sum'), [0.5599122890982071]),
 (('exang', 'thalach', 'sum'), [0.5446159127862596]),
 (('slope', 'restbp', 'sum'), [0.5373243740854007])]

# Sharing-based Optimizations:

In [14]:
def get_combined_queries1():
    discrete_list=','.join(discrete)  # a,b,c
    group_by_clause=' group by '+discrete_list  # group by a,b,c
    
    where_clause=' where '
    for a in discrete:
        where_clause+=' '+a+' is not null and'
    where_clause=where_clause[:-3] # remove last and
    
    aggregate_continuous=''
    for f in aggregate:
        for m in continuous:
            aggregate_continuous+= (','+f+'('+m+') as '+f+'_'+m)  #f1(m1) as f1_m1,f1(m2) as f1_m2..
    
    #combined_queries=[]
    #for table_name in ['has','has_no']:
    combined_queries = "select "+discrete_list+aggregate_continuous+" from df "+where_clause + "and num ='disease'" +group_by_clause+" ;"
    return combined_queries

def get_combined_queries2():
    discrete_list=','.join(discrete)  # a,b,c
    group_by_clause=' group by '+discrete_list  # group by a,b,c
    
    where_clause=' where '
    for a in discrete:
        where_clause+=' '+a+' is not null and'
    where_clause=where_clause[:-3] # remove last and
    
    aggregate_continuous=''
    for f in aggregate:
        for m in continuous:
            aggregate_continuous+= (','+f+'('+m+') as '+f+'_'+m)  #f1(m1) as f1_m1,f1(m2) as f1_m2..
    
    #combined_queries=[]
    #for table_name in ['has','has_no']:
    combined_queries = "select "+discrete_list+aggregate_continuous+" from df "+where_clause + "and num ='no_disease'" +group_by_clause+" ;"
    return combined_queries

def apply_func(vals, func):
    if func=='sum':
        return sum(vals)
    elif func=='max':
        return max(vals)
    elif func=='min':
        return min(vals)
#     elif func=='count':
#         return sum(vals)

def get_vals_avg(vals, counts):
    sum_vals = 0
    total_counts = 0
    for a_i,c_i in zip(vals, counts):
        sum_vals += a_i*c_i
        total_counts += c_i
    try:
        return sum_vals/total_counts
    except:
        return Decimal(1e-10)
    
def partition_dataframe(num_partitions, df):
    return np.array_split(df, num_partitions)


def evaluate_dataframes(df_list,views):
    dict_kl=defaultdict(list)
    for a,m,f in views:
        attr_list=[defaultdict(list), defaultdict(list)]
        for i in range(len(df_list)):
            for val in df_list[i][a].unique():  # for all unique values of an attribute
                val_list=list(df_list[i][df_list[i][a] == val]["{}_{}".format(f,m)]) #get all corresponding vals
                if f != 'avg':
                    post_func_val=apply_func(val_list,f)  # apply function f
#                 else:
#                     val_count_list=(list(df_list[i][df_list[i][a] == val]["count_{}".format(m)]))
#                     post_func_val=get_vals_avg(val_list,val_count_list)
                attr_list[i][val]=post_func_val   # associate to dict

        f_list_1,f_list_2 = get_agg_lists(attr_list[0],attr_list[1])
        dict_kl[a,m,f].append(get_utility(f_list_1,f_list_2))
    return dict_kl

In [17]:
q1 = get_combined_queries1()
q2 = get_combined_queries2() #has heart disease vs no

#startTime1 = timeit.default_timer()
res_1=get_query_result(q1)
df_res_1 = pd.DataFrame(res_1)
res_2=get_query_result(q2)
df_res_2 = pd.DataFrame(res_2)
#stopTime1 = timeit.default_timer()
#print(stopTime1-startTime1)

dict_nya=defaultdict(list)
views=get_all_views()
df_list=[df_res_1, df_res_2]
dict_nya=evaluate_dataframes(df_list, views)


get_top_k(dict_nya,k)

[(('thal', 'oldpeak', 'sum'), [0.7397531937984]),
 (('thal', 'thalach', 'sum'), [0.718509703070422]),
 (('thal', 'restbp', 'sum'), [0.7184788449523011]),
 (('cp', 'ca', 'sum'), [0.7127041745439795]),
 (('slope', 'ca', 'sum'), [0.71039762892971]),
 (('thal', 'chol', 'sum'), [0.7101716497003994]),
 (('thal', 'age', 'sum'), [0.6856068992498252]),
 (('cp', 'oldpeak', 'sum'), [0.6667266901851018]),
 (('exang', 'oldpeak', 'sum'), [0.6604832829078432]),
 (('thal', 'ca', 'sum'), [0.6575817313792776]),
 (('cp', 'chol', 'sum'), [0.6160608787086023]),
 (('cp', 'restbp', 'sum'), [0.6099072595737325]),
 (('cp', 'thalach', 'sum'), [0.6045127346833579]),
 (('cp', 'age', 'sum'), [0.5985463906219567]),
 (('exang', 'chol', 'sum'), [0.5791907821745355]),
 (('exang', 'restbp', 'sum'), [0.5759666121146424]),
 (('exang', 'age', 'sum'), [0.5615631126346988]),
 (('exang', 'ca', 'sum'), [0.5599122890982071]),
 (('exang', 'thalach', 'sum'), [0.5446159127862596]),
 (('slope', 'restbp', 'sum'), [0.5373243740854007])]

## ['cp', 'thal', 'slope', 'ca', 'oldpeak', 'restbp', 'thalach', '.*', 'chol', 'sum', 'count']

In [61]:
# diatas itu hasi dari k = 10 dari ideal dataset

In [67]:
engine = create_engine(r'postgresql+psycopg2://postgres:zenvisage@localhost:5432/temp_after_ideal_imputation')

## drop cp from dbm impute with ideal cp

In [62]:
dbmcp = dbm.copy()
dbmcp.drop(['cp'], axis=1, inplace=True)

In [63]:
dbmcp

,age,sex,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,NaN,None,125.0,NaN,no_more_than_120,None,NaN,exercise_induced_angina,NaN,flat,0.0,reversable_defect,disease
1,NaN,male,160.0,269.0,no_more_than_120,normal,112.0,exercise_induced_angina,2.9,flat,1.0,reversable_defect,disease
2,NaN,male,NaN,233.0,None,None,163.0,None,0.6,None,NaN,reversable_defect,disease
3,NaN,None,126.0,218.0,more_than_120,normal,134.0,no_exercise_induced_angina,2.2,flat,NaN,fixed defect,disease
4,49.0,male,120.0,188.0,None,None,139.0,None,2.0,None,3.0,reversable_defect,disease
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,NaN,female,NaN,NaN,no_more_than_120,normal,166.0,no_exercise_induced_angina,1.2,upsloping,0.0,None,no_disease
295,41.0,male,120.0,NaN,None,None,182.0,None,0.0,upsloping,NaN,normal,no_disease
296,29.0,None,NaN,204.0,None,showing_probable,NaN,no_exercise_induced_angina,0.0,None,NaN,normal,no_disease
297,55.0,female,135.0,250.0,no_more_than_120,showing_probable,161.0,None,NaN,flat,NaN,normal,no_disease
298,56.0,male,130.0,221.0,no_more_than_120,showing_probable,163.0,no_exercise_induced_angina,0.0,None,0.0,None,no_disease

In [65]:
dbmcp['cp'] = db['cp']

In [69]:
dbmcp

,age,sex,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,cp
0,NaN,None,125.0,NaN,no_more_than_120,None,NaN,exercise_induced_angina,NaN,flat,0.0,reversable_defect,disease,non_anginal_pain
1,NaN,male,160.0,269.0,no_more_than_120,normal,112.0,exercise_induced_angina,2.9,flat,1.0,reversable_defect,disease,non_anginal_pain
2,NaN,male,NaN,233.0,None,None,163.0,None,0.6,None,NaN,reversable_defect,disease,non_anginal_pain
3,NaN,None,126.0,218.0,more_than_120,normal,134.0,no_exercise_induced_angina,2.2,flat,NaN,fixed defect,disease,non_anginal_pain
4,49.0,male,120.0,188.0,None,None,139.0,None,2.0,None,3.0,reversable_defect,disease,non_anginal_pain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,NaN,female,NaN,NaN,no_more_than_120,normal,166.0,no_exercise_induced_angina,1.2,upsloping,0.0,None,no_disease,atypical_angina
295,41.0,male,120.0,NaN,None,None,182.0,None,0.0,upsloping,NaN,normal,no_disease,atypical_angina
296,29.0,None,NaN,204.0,None,showing_probable,NaN,no_exercise_induced_angina,0.0,None,NaN,normal,no_disease,atypical_angina
297,55.0,female,135.0,250.0,no_more_than_120,showing_probable,161.0,None,NaN,flat,NaN,normal,no_disease,atypical_angina
298,56.0,male,130.0,221.0,no_more_than_120,showing_probable,163.0,no_exercise_induced_angina,0.0,None,0.0,None,no_disease,atypical_angina

In [70]:
dbmcp.to_sql('dbmcp', engine)

# cp and thal

In [71]:
dbm_cp_thal = dbmcp.copy()
dbm_cp_thal.drop(['thal'], axis=1, inplace=True)
dbm_cp_thal['thal'] = db['thal']
dbm_cp_thal.to_sql('dbm_cp_thal', engine)

# cp and thal and slope

In [72]:
dbm_cp_thal_slope = dbm_cp_thal.copy()
dbm_cp_thal_slope.drop(['slope'], axis=1, inplace=True)
dbm_cp_thal_slope['slope'] = db['slope']
dbm_cp_thal_slope.to_sql('dbm_cp_thal_slope', engine)

In [73]:
dbmca = dbm.copy()
dbmca.drop(['ca'], axis=1, inplace=True)
dbmca['ca'] = db['ca']
dbmca.to_sql('dbmca', engine)

In [74]:
dbmca_oldpeak = dbmca.copy()
dbmca_oldpeak.drop(['oldpeak'], axis=1, inplace=True)
dbmca_oldpeak['oldpeak'] = db['oldpeak']
dbmca_oldpeak.to_sql('dbmca_oldpeak', engine)

In [75]:
dbmca_oldpeak_restbp = dbmca_oldpeak.copy()
dbmca_oldpeak_restbp.drop(['restbp'], axis=1, inplace=True)
dbmca_oldpeak_restbp['restbp'] = db['restbp']
dbmca_oldpeak_restbp.to_sql('dbmca_oldpeak_restbp', engine)

In [76]:
db6 = dbm_cp_thal_slope.copy()
db6.drop(['ca'], axis=1, inplace=True)
db6.drop(['oldpeak'], axis=1, inplace=True)
db6.drop(['restbp'], axis=1, inplace=True)
db6['ca'] = db['ca']
db6['oldpeak'] = db['oldpeak']
db6['restbp'] = db['restbp']
db6.to_sql('db6', engine)